.entirePage {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.image {
  max-width: 400px;
  border-radius: 20px;
}

.list {
  list-style-type: none;
}

.wholeList {
  display: flex;
  border: 1px solid black;
  padding: 3rem;
  margin: 3rem;
  border-radius: 20px;
}

.rightSide {
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
  margin-top: -1.3rem;
}

.listOutline {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.titleBox {
  border-top: 1px solid black;
}

.title {
  padding-left: 6rem;
}

.description {
  max-width: 800px;
  padding-top: 2rem;
}

.author {
  margin-top: -0.5rem;
}

.removeButton {
  width: 5rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background: transparent;
  border-left: none;
  border-right: none;
  border-radius: 5px;
  margin-left: 50rem;
}

.removeButton:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
